.jira-issue-container {
    display: flex;
    align-items: flex-start;
    position: relative;
    line-height: 1em;
    flex-direction: column;
    margin-bottom: 10px;
    vertical-align: middle;
}

/* Links */
.jira-issue-container a {
    cursor: pointer;
    text-decoration: none;
}

.jira-issue-container a.icon-link {
    font-weight: var(--font-extrabold);
    font-size: var(--font-ui-large);
}

/* Images */
.jira-issue-container img.fit-content {
    height: 16px;
    width: 16px;
    max-width: fit-content;
    width: fit-content;
}

.jira-issue-container img.letter-height {
    height: auto;
    max-height: 1em;
}

.jira-issue-container img.avatar {
    height: auto;
    width: 100%;
    max-width: 16px;
    max-height: 16px;
}

/* Get Flexy */
.jira-issue-container .no-wrap {
    flex-grow: 0;
    flex-shrink: 0;
    white-space: nowrap;
}

.jira-issue-container .grow-1 {
    flex-grow: 1;
}

/* search-footer */
.jira-issue-container .search-footer {
    margin-top: 3px;
    font-size: x-small;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.jira-issue-container .search-footer button {
    border: 0;
    padding: 0;
    margin: 0;
    outline: 0;
    box-shadow: none;
    height: 1.5em;
    max-height: fit-content;
    cursor: pointer;
    font-size: x-small;
    vertical-align: middle;
    margin-left: 3px;
}

.jira-issue-container .search-footer button:hover {
    opacity: 0.8;
}

.jira-issue-container .search-footer button>svg {
    height: 1.5em;
    width: 1.5em;
    fill: none;
    stroke: currentColor;
}

/* ji-tags */
.jira-issue-container .ji-tags {
    align-items: stretch;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-bottom: 0.5em;
}

.jira-issue-container .ji-tags:last-child {
    margin-bottom: 0;
}

.jira-issue-container .ji-tags.has-addons .ji-tag {
    margin-right: 0;
}

.jira-issue-container .ji-tags.has-addons .ji-tag:not(:first-child) {
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.jira-issue-container .ji-tags.has-addons .ji-tag:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.jira-issue-container .ji-tag {
    align-items: center;
    border-radius: 4px;
    display: inline-flex;
    font-size: 0.75em;
    justify-content: flex-start;
    line-height: 1.5;
    padding: 0.2em 0.75em;
}

.jira-issue-container .ji-tag.ji-sm-tag {
    padding: 0.2em 0.4em;
}

/* ji-tags types*/
.jira-issue-container .ji-tag.is-danger {
    background-color: var(--color-red-base);
    color: var(--text-error);
}

.jira-issue-container .ji-tag.is-dark {
    background-color: #363636;
    color: #fff;
}

.jira-issue-container .ji-tag.is-delete {
    margin-left: 1px;
    padding: 0;
    position: relative;
    width: 2em;
}

.jira-issue-container .ji-tag.is-delete::before {
    height: 1px;
    width: 50%;
}

.jira-issue-container .ji-tag.is-delete::after {
    height: 50%;
    width: 1px;
}

.jira-issue-container .ji-tag.is-delete::after,
.jira-issue-container .ji-tag.is-delete::before {
    background-color: currentColor;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform-origin: center center;
}

.jira-issue-container .ji-tag.is-link {
    background-color: var(--background-primary);
    color: var(--link-color);
}

.jira-issue-container .ji-tag.is-info {
    background-color: #3e8ed0;
    color: #fff;
}

.jira-issue-container .ji-tag.is-success {
    background-color: #48c78e;
    color: #fff;
}

.ji-tag.is-warning {
    background-color: #ffe08a;
    color: rgba(0, 0, 0, 0.7);
}

/* table */
.jira-issue-container table {
    width: 100%;
}

.jira-issue-container table th,
.jira-issue-container table td {
    vertical-align: top;
    white-space: nowrap;
    padding: 0.5em 0.75em;
}

.jira-issue-container table.is-narrow th,
.jira-issue-container table.is-narrow td {
    padding: 0.25em 0.5em;
}

.jira-issue-container table tbody tr:hover {
    background-color: var(--background-primary);
}

.jira-issue-container table td.text-align-center {
    text-align: center;
}

/* Inline Issues */
.jira-issue-container.ji-inline-issue {
    display: inline-block;
    margin: 0;
}

.jira-issue-container.ji-inline-issue .ji-tag {
    padding: 0.1em 0.3em;
}

/* Suggestions */
.jira-issue-suggestion {
    font-size: small;
    margin-right: 5px;
}

.jira-issue-suggestion:last-child {
    margin-right: 0;
}

.jira-issue-suggestion.is-compact {
    color: green;
}

.jira-issue-suggestion.is-custom-field {
    color: orange;
}

.jira-issue-suggestion.is-function {
    color: red;
}

/* Inline plugin */
.jira-issue-inline-mark {
    display: inline-block;
    padding: 2px 5px;
}

.HyperMD-task-line[data-task="x"] .ji-inline-issue.jira-issue-container {
    text-decoration: line-through;
}

/* Spinner */
.jira-issue-container .spinner {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.jira-issue-container .spinner::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-top: -8px;
    margin-left: -8px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #000;
    animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

/* Settings */
.setting-item-control select.flex-grow-1 {
    flex-grow: 1;
    max-width: none;
}

.setting-item-control input[type="text"].custom-field-text {
    margin-left: 10px;
    height: 2.5em;
    border-radius: 8px;
}

.setting-item-control input[type='text'].error {
    border: 1px solid var(--text-error);
    color: var(--text-error);
}

.setting-item-description .error {
    color: var(--text-error);
}

/* Other */
.ji-inline-issue.jira-issue-container .ji-band,
.jira-issue-container .ji-band {
    width: 3px;
    min-width: 3px;
    padding: 0;
}

.jira-issue-container .rotate-animation {
    animation-name: rotate-keyframes;
    animation-duration: 2s;
}

@keyframes rotate-keyframes {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

svg.svg-icon.jira-issue-visible {
    stroke: none;
    fill: currentColor;
}

svg.svg-icon.jira-issue-hidden {
    stroke: none;
    fill: currentColor;
}


/* .jira-issue-container span.pull-request-tag {
    padding: 1px 3px;
    line-height: 1.5;
    padding: 0.2em 0.75em;
    font-size: 0.75em;
}

.jira-issue-container span.pull-request-tag:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;

}

.jira-issue-container span.pull-request-tag:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
} */

/* .jira-issue-container span.pull-request-open.is-light {
    background-color: #97AFD8;
}

.jira-issue-container span.pull-request-merged.is-light {
    background-color: #96E773;
}

.jira-issue-container span.pull-request-delete.is-light {
    background-color: #D39C9E;
}

.jira-issue-container span.pull-request-open.is-dark {
    background-color: #325186;
}

.jira-issue-container span.pull-request-merged.is-dark {
    background-color: #25570F;
}

.jira-issue-container span.pull-request-delete.is-dark {
    background-color: #984447;
} */

/* .jira-issue-container .pull-request-tag>svg {
    height: 1em;
    width: 1em;
    stroke: none;
    fill: currentColor;
} */
